<div class="main-banner header-text">
  <div class="container-fluid">
    <div class="owl-banner owl-carousel">
      <% @blogs_index.each do |blog| %>
        <div class="item">
          <%= image_tag blog.image.present? ? url_for(blog.image) : "vendor/banner-item.jpg", alt: "", size: "382x200"%>
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
                <span><%= blog.category.titleize %></span>
              </div>
              <%= link_to blog_display_path(id: blog.id) do %><h4><%= blog.title %></h4><% end %>
              <ul class="post-info">
                <li><a href="#">Admin</a></li>
                <li><a href="#"><%= blog.created_at.strftime("%b %d, %Y") %></a></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="owl-banner owl-carousel">
        <% @blogs_index.each do |blog| %>
          <div class="item">
            <%= image_tag blog.image.present? ? url_for(blog.image) : "vendor/banner-item.jpg", alt: "", size: "382x200"%>
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span><%= blog.category.titleize %></span>
                </div>
                <%= link_to blog_display_path(id: blog.id) do %><h4><%= blog.title %></h4><% end %>
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#"><%= blog.created_at.strftime("%b %d, %Y") %></a></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <% @blogs.each do |blog| %>
              <div class="col-lg-12">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <%= image_tag blog.image.present? ? url_for(blog.image) : "vendor/banner-item.jpg", alt: "", size: "730x322"%>
                  </div>
                  <div class="down-content">
                    <span><%= blog.category.titleize %></span>
                    <%= link_to blog_display_path(id: blog.id) do %><h4><%= blog.title %></h4><% end %>
                    <ul class="post-info">
                      <li><a href="#">Admin</a></li>
                      <li><a href="#"><%= blog.created_at.strftime("%b %d, %Y") %></a></li>
                    </ul>
                    <div class="short-details">
                      <%= truncate(strip_tags(blog.content.to_s), length: 350) %>
                    </div>
                    <div class="post-options">
                      <div class="row">
                        <div class="col-6">
                          <ul class="post-tags">
                          </ul>
                        </div>
                        <div class="col-6">
                          <ul class="post-share">
                            <li><i class="fa fa-share-alt"></i></li>
                            <li><%= link_to "Read More", blog_display_path(id: blog.id) %></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <%= paginate @blogs %>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item search">
                <form id="search_form" name="gs" method="GET" action="#">
                  <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                </form>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                  <h2>Recent Posts</h2>
                </div>
                <div class="content">
                  <ul>
                    <li><a href="post-details.html">
                      <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                      <span>May 31, 2020</span>
                    </a></li>
                    <li><a href="post-details.html">
                      <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                      <span>May 28, 2020</span>
                    </a></li>
                    <li><a href="post-details.html">
                      <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                      <span>May 14, 2020</span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item categories">
                <div class="sidebar-heading">
                  <h2>Categories</h2>
                </div>
                <div class="content">
                  <ul>
                    <li><a href="#">- Nature Lifestyle</a></li>
                    <li><a href="#">- Awesome Layouts</a></li>
                    <li><a href="#">- Creative Ideas</a></li>
                    <li><a href="#">- Responsive Templates</a></li>
                    <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                    <li><a href="#">- Creative &amp; Unique</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item tags">
                <div class="sidebar-heading">
                  <h2>Tag Clouds</h2>
                </div>
                <div class="content">
                  <ul>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">Inspiration</a></li>
                    <li><a href="#">Motivation</a></li>
                    <li><a href="#">PSD</a></li>
                    <li><a href="#">Responsive</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
